.modal{
    position: fixed;
    z-index: 999;
    top:0;
    left: 0;
    width: 100%;
    min-height: 100vh;
    background-color: rgba(0, 0, 0, 0.75); 
    display: none;
    justify-content: center;
    align-items: center;
}

.modal.is-open{
    display: flex;
}
.modalContainer{
    position: relative;
    min-width: 480px;
    max-width: 600px;
    min-height: 200px;
    max-height: 350px;
    overflow-y: auto;
    background-color: #fff;
}
.modalClose{
    position: absolute;
    top: 1rem;
    right: 1rem;
}