.containerRegister {
	background-color: rgb(255, 255, 255);
	width: 100%;
	height: 40vh;
	margin: auto;
	margin-top: 0%;
}
.formRegister {
	display: contents;
}
.titleLoginReg{
    margin-bottom: 3%;
	margin-top: -1%;
    font-size: xx-large;
    font-weight: bolder;
}
.password input {
	width: 300px;
	padding: 10px;
	border: 1px solid gray;
	border-radius: 3px;
}
.pswdReg{
    margin-bottom: 10px;
}
.passwordRegister input{
    width: 300px;
	padding: 10px;
	border: 1px solid gray;
	border-radius: 3px;
}
.btnSubmitReg{
    margin-top: 5px;
	margin-bottom: 25px;
	color: aliceblue;
	font-family: 'Poppins';
	font-weight: 300;
	border-radius: 2px;
    border: 0px;
	background: var(--color-btns);
	padding: 8px;
    cursor: pointer;
	box-shadow: 0px 5px 4px -2px rgba(145, 137, 137, 0.75);
	-webkit-box-shadow: 0px 5px 4px -2px rgba(145, 137, 137, 0.75);
	-moz-box-shadow: 0px 5px 4px -2px rgba(145, 137, 137, 0.75);
}